<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activities - HobbyHub</title>
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <nav>
        <h1>HobbyHub</h1>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/interest-test">Find Your Hobby</a></li>
            <li><a href="/activities">Activities</a></li>
            <li><a href="/progress">Progress</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>

    <section class="hero">
        <h2>Explore Activities</h2>
        <p>Choose fun and productive hobbies during your free time.</p>

        <div class="activity-container">
            <div class="activity-card">
                <img src="https://images.unsplash.com/photo-1518834107812-67b0b7c58434?q=80&w=1200&auto=format&fit=crop" alt="Dance">

                <h3>Dance</h3>
                <p>Learning • 30 mins</p>
                <a href="/course-dance">
                    <button>Try Now</button>
                </a>
            </div>

            <div class="activity-card">
                <img src="https://images.unsplash.com/photo-1501004318641-b39e6451bec6?q=80&w=1170&auto=format&fit=crop"  alt="Drawing">

                <h3>Drawing</h3>
                <p>Creative • 30 mins</p>
                <a href="/course-drawing">
                    <button>Try Now</button>
                </a>
            </div>

            <div class="activity-card">
                <img src="https://images.unsplash.com/photo-1517836357463-d25dfeac3438?q=80&w=1170&auto=format&fit=crop" alt="Workout">

                <h3>Workout</h3>
                <p>Fitness • 15 mins</p>
                <a href="/course-workout">
                    <button>Try Now</button>
                </a>
            </div>

            <div class="activity-card">
                <img src="https://images.unsplash.com/photo-1521587760476-6c12a4b040da?q=80&w=1170&auto=format&fit=crop" alt="Reading">

                <h3>Reading</h3>
                <p>Learning • 30 mins</p>
                <a href="/course-reading">
                    <button>Try Now</button>
                </a>
            </div>

            <div class="activity-card">
                <img src="https://images.unsplash.com/photo-1552674605-db6ffd4facb5?q=80&w=1200&auto=format&fit=crop" alt="Running">

                <h3>Running</h3>
                <p>Fitness • 35 mins</p>
                <a href="/course-running">
                    <button>Try Now</button>
                </a>
            </div>

            <div class="activity-card">
                <img src="https://images.unsplash.com/photo-1506744038136-46273834b3fb?q=80&w=1200&auto=format&fit=crop" alt="Nature Walk">

                <h3>Nature Walk</h3>
                <p>Relaxing • 30 mins</p>
                <a href="/course-naturewalk">
                    <button>Try Now</button>
                </a>
            </div>

            <div class="activity-card">
                <img src="https://images.unsplash.com/photo-1516035069371-29a1b244cc32?q=80&w=1200&auto=format&fit=crop" alt="Photography">

                <h3>Photography</h3>
                <p>Creative • 20 mins</p>
                <a href="/course-photography">
                    <button>Try Now</button>
                </a>
            </div>

            <div class="activity-card">
                <img src="https://images.unsplash.com/photo-1493225457124-a3eb161ffa5f?q=80&w=1170&auto=format&fit=crop" alt="Listening Music">

                <h3>Listening Music</h3>
                <p>Relaxing • 30 mins</p>
                <a href="/course-music">
                    <button>Try Now</button>
                </a>
            </div>

        </div>

    </section>

    <script src="/js/navbar.js"></script>
</body>
</html>